*{
    MARGIN:0;
    PADDING:0;
    font-family: 'POPPINS','SANS-SERIF';
    BOX-SIZING:BORDER-BOX;
}
.CONTAINER{
    WIDTH:100%;
    HEIGHT:100VH;
    background-color:#E3F9FF;
    DISPLAY:FLEX;
    justify-content: CENTER;               /*IT ALIGNS IT HORIZONTALLY CENTER*/
    align-items: center;                   /*IT ALIGNS IT VERTICALLY CENTER*/
}
.CALCULATOR{
    BACKGROUND:#3A4452;
    PADDING:20PX;
    BORDER-RADIUS:10PX;
}
.CALCULATOR FORM INPUT{
    BORDER:0;
    OUTLINE:0;
    WIDTH:60PX;
    HEIGHT:60PX;
    BORDER-RADIUS:10PX;
    BOX-SHADOW:-8PX -8PX 15PX RGBA(255,255,255,0.1), 5PX 5PX 15PX RGBA(0,0,0,0.2);
    BACKGROUND:TRANSPARENT;
    FONT-SIZE:20PX;
    COLOR:WHITE;
    CURSOR:POINTER;
    MARGIN:10PX;
}
FORM .DISPLAY{
    DISPLAY:FLEX;
    JUSTIFY-CONTENT:FLEX-END;     /*CONTENT WILL BE ON RIGHT SIDE END*/
    MARGIN:20PX 0;
}
FORM .DISPLAY INPUT{
    TEXT-ALIGN:RIGHT;
    FLEX:1;                        /*IT WILL GET FULL WIDTH*/
    BOX-SHADOW:NONE;
}
FORM INPUT.EQUAL{
    WIDTH:145PX;
}
FORM INPUT.OPERATOR{
    COLOR:#33FFD8;
}